
ion-item{
  --padding-start: 10px;
  --padding-end: 10px;
  --inner-padding-end: 0;

  ion-thumbnail{
    height: 100%;
    margin-inline-end: 10px;

    img{
      border-radius: 1rem;
    }
  }

  h1 {
    font-weight: 600;
    font-size: 0.8rem ;
  }

  p{
    font-size: 0.6rem;
    font-weight: 600;
  }

  p.category{
    font-size: 0.6rem;
    color: #8a8a8a;
  }

  ion-chip {
    padding-inline: 3%;
    height: 42%;
  }
}
