.container  {
  --ion-background-color: var(--ion-color-dark-shade);
}

ion-card{
 --ion-background-color: var(--ion-color-dark-tint);
}

ion-card-title{
  color:var(--ion-color-light-shade)
}


ion-searchbar {
  // color: var(--ion-color-light);
  color: #383a3e;
}


::ng-deep{

  .searchbar-input.sc-ion-searchbar-md{
    border-radius: 1rem;
    background-color: #848587 ;
  }
  .searchbar-cancel-button.sc-ion-searchbar-md{
    // color: var(--ion-color-light);
    color: #383a3e;
  }
}
