<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="container" [fullscreen]="true" color="">
  <ion-searchbar placeholder="Buscar" showCancelButton="focus"></ion-searchbar>
  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wd7b4Nv9QBHDTIjc2m7sr0IUMoh.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1>Batman (2022)</h1>
        <p>03/03/2022 (BR) - 3h 5m</p>
        <p class="category">Crime, Mistério, Thriller</p>
      </ion-label>
      <ion-chip color="success">
        <ion-label>78%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
