<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="container" [fullscreen]="true" color="">
  <ion-searchbar placeholder="Pesquise" showCancelButton="focus"></ion-searchbar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Receitas Deliciosas</ion-card-title>
      <ion-card-subtitle>As melhores receitas para fazer em casa</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        <img src="../../assets/tumbnail2.jpg" alt="">
      </div>
      <span>Receitas práticas para todas as refeições</span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Podcasts</ion-card-title>
      <ion-card-subtitle>Os podcasts mais relevantes da internet</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        <img src="../../assets/tumbnail3.jpg" alt="">
      </div>
      <span>Os melhores cortes de podcast</span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Os melhores vídeos da internet</ion-card-title>
      <ion-card-subtitle>Para todas as idades</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        <img src="../../assets/tumbnail1.jfif" alt="">
      </div>
      <span>Videos mais engraçados, tente não rir #1 Nivel Hard</span>
    </ion-card-content>
  </ion-card>
</ion-content>
